* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

}


/*---dz1--*/
#categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  height: 888px;
  padding: 24px 24px;
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}


.item {
  width: 392px;
  background: #f6f6fe;
  box-sizing: border-box;
  margin: 24px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
}

.item:nth-child(1) {
  height: 264px;
}

.item:nth-child(2) {
  height: 216px;
}

.item:nth-child(3) {
  height: 312px;
}

.item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0 0 10px;
  text-align: start;
}

.item ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.item ul li {

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

/*---dz2---*/
Resources body {
  padding: 100px 156px;
  margin: 0;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.gallery li {
  flex-basis: calc((100% - 48px) / 3);

}

.gallery img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/*---dz3---*/
.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 408px;
  height: 136px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}

.input-box input {
  width: 360px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.text-output {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*---dz4---*/
.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
}

.input-email,
.input-password {
  gap: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}